<!DOCTYPE html>
<html>
  <head>
    <!-- include style.css into the entire webpage so that they have unified style
    Because we are linking to CSS, we use the rel attribute with a value of stylesheet to specify their relationship.
    the href (or hyperlink reference) attribute is used to identify the location, or path, of the CSS file.
    -->

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> <!-- this is include style.css file that we created -->
  </head>
  <!-- 'ng-app' has to equal the module name in app.js because this means that module is taking control of this web application-->
  <body ng-app="directoryApp">

    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">

            <!-- Implement a way to filter through listings using the search bar:
                1. the ng-model added after placeholder
                2. ng-repeat: added filter after object in listings -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model = "searchText">

          </div>
          <div class="table">
            <table class="table table-bordered table-hover">
              <tr>
                <th class="text-center">Code</th>
                <th class="text-center">Building Name</th>
                <th></th>
                <th></th>
              </tr>
              <!-- Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings -->
              <!--show table-->
              <div>
                <tr ng-repeat = "object in listings | filter: searchText" ng-click="showDetails(object)" ng-init= "parentIndex" = $index>
                  <th >{{object.code}}</th>
                  <th >{{object.name}}</th>
                  <th></th>
                  <!-- remove deteled items-->
                  <th href="#" class="btn btn-danger" ng-click = "deleteListing(object)"> Delete <span class="glyphicon glyphicon-trash"></span></th>
                </tr>
              </div>
            </table>
          </div>

        </div>


        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information <span class="glyphicon glyphicon-map-marker"></span> </h2>
            <!-- Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature-->
             <li> Code: {{details.code}}</li>
             <li> Name: {{details.name}}</li>
             <li> Coordinates: {{details.coordinates}}</li>
             <li> Address: {{details.address}}</li>

          </div>

          <!-- Write an HTML form that adds new listings to the directory -->

            <div class="jumbotron">
              <h2>Add Information <span class="glyphicon glyphicon-pencil"></span> </h2>
              <form name="Add Information" ng-submit="addListing()">
                 <input type="text" size="40" placeholder="Code"
                 ng-model="listings.newcode" required="">
                 <input type="text" size="40" placeholder="Name"
                 ng-model="listings.newname" required="">
                 <input type="text" size="40" placeholder="Latitude"
                 ng-model="listings.newlatitude"required="">
                 <input type="text" size="40" placeholder="Longitude"
                 ng-model="listings.newlongitude" required="">
                 <input type="text" size="40" placeholder="Address"
                 ng-model="listings.newaddress " required="">
                 <input type="submit" class="button" value="ADD">
              </form>
            </div>
        </div>

      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

   </body>
</html>
